.EstiloItem {
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

.EstiloImagen {
    width: 288px;
    height: 288px;
    border-radius: 20px;
    border-color: pink;
    border-style: solid;
}

.EstiloCard {
    width: 290px;
    height: 30rem;
    text-align: center;
}